* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size : 10px;
}

nav {
    background-color: coral;
}

.nav-container {
    padding :1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
}

.nav-contact {
    font-size: 2.5rem;
    border : 0;
    background:  none;
    cursor: pointer;
}

.category-title {
    font-size: 2.5rem;
}

.category-item {
    width: 24%;
    height: 5rem;
    background: none;
    border: none;
    font-size: 1.6rem;
}

.category-item:hover {
    background-color: coral;
    cursor: pointer;
    font-weight: bold;
}

.inner {
    padding: 0 1.5rem;
}

@media all and (min-width: 1024px){
    .inner {
        max-width: 1024px;
        margin: 0 auto;
    }
}
/* 카카오맵 api */

body {
    height: 100vh;
}


nav {
    height: 59px;
}
/* 부모의 100% - nav의 height 59px */
main {
    padding-top:  1.5rem;
    height: calc(100% - 59px);    
    display: flex;
    flex-direction: column;
}
#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
